body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

pre {
  font-size: 7em;
}
.marks .land {
  fill: #ececec;
}
.marks .sphere {
  fill: #fbfbfb;
}
.marks .interiors {
  fill: none;
  stroke: #d9dfe0;
}
.marks .graticules,
.tick line {
  fill: none;
  stroke: #ececec;
}
circle {
  fill: #137b80;
  opacity: 0.3;
}

.tick text {
  fill: #635f5d;
  font-size: 0.5em;
}
.mark {
  fill: #137b80;
}
.axis-label {
  font-size: 0.5em;
  fill: #635f5d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
